<div class="container" style="padding-top:1rem;">
  <h4 class= "row p-3">문의 상세 보기</h4>
  <% if @contact.present? %>
    <div class="row" style="margin-bottom:20px;padding:15px;border:solid 1px lightgray;border-radius:10px; width:900px; margin-left:25px;">
      <div class="col-md-12">
        <%= @contact.title %>
      </div>
    </div>
    <div class="row" style="height:200px;padding:15px;border:solid 1px lightgray;border-radius:10px; width:900px; margin-left:25px;">
      <div class="col-md-12">
        <%= @contact.body %>
      </div>
    </div>
    <div class="row" style="padding-top:30px; margin-left:25px; padding-bottom:10px;">
      <% if current_user %>
        <%= form_for Comment.new do |f| %>
          <div class="form-control" style="height:100px; border:solid 1px lightgray;border-radius:10px; width:900px; padding-top:3px;">
            <% if @contact.comments.present? %>
              <% @contact.comments.each do |comment| %>
                <p style = "margin-left:5px;"><%= comment.user.email %> : <%= comment.body %>
                  <%= link_to "삭제하기", comment_path(comment), data:{method: :delete}, class:"btn btn-dark mx-1"%>
                </p>
              <% end %>
            <% end %>
          </div>
          <div class="reply-area" style="padding-top:15px;">
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :contact_id, value: @contact.id %>
            <%= f.text_field :body, class: "form-control",placeholder: "답변 내용을 적어주세요." , style: "border:solid 1px lightgray;border-radius:10px; padding-top:5px;" %>
          </div>
          <div class="button-group mt-3">
            <div class="btn btn-dark ml-2" style="float:right;">
              <%= link_to " 홈", "/", style:"color:white" %>
            </div>
            <div class="btn btn-dark ml-2" style=float:right;>
              <%= link_to "문의내역 ", contacts_path, style:"color:white" %>
            </div>
            <input type = "submit" value = "답변달기" class = "btn btn-dark" style = "float:right;">
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
