<div class="container" style="padding-top:rem;">
  <ul class="nav nav-pills mb-3 pt-2" id="pills-tab" role="tablist">
    <% Category.all.each_with_index do |category, index| %>
      <li class="nav-item pr-1">
        <a class="btn btn-dark nav-link <%= index == 0 ? 'active' : '' %>" id="category-<%= index %>-tab" style="background-color:white; color:black;"data-toggle="pill" href="#category-<%= index %>" role="tab" aria-controls="category-<%= index %>" aria-selected="true"><%= category.title %></a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <% Category.all.each_with_index do |category, index| %>
      <div class="tab-pane fade <%= index == 0 ? 'show active' : '' %>" id="category-<%= index %>" role="tabpanel" aria-labelledby="category-<%= index %>-tab">
        <h3><%= category.title %></h3>
        <div class = "colorlib-work border-top" style="padding:50px;">
          <% category.products.each_with_index do |product,index| %>
            <% if index % 4 == 0 %>
              <div class = "row">
            <% end %>
            <div class="col-md-3 pt-0 px-0" style="width:10px;;" >
              <%= link_to product_path(product) do %>
                <%= render 'shared/product', product: product %>
              <% end %>
            </div>
            <% if (category.products.count == (index+1)) || (index % 4 == 3) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
